<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudFoundry.Build.Tasks.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudFoundry.Build.Tasks.Test.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="ServerUri" serializeAs="String">
                <value>http://api.1.2.3.4.xip.io</value>
            </setting>
        </CloudFoundry.Build.Tasks.Test.Properties.Settings>
    </userSettings>
</configuration>