<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CFUser>admin</CFUser>
    <CFPassword>admin</CFPassword>
    <CFServerUri>http://api.1.2.3.4.xip.io</CFServerUri>

    <CFMemory>512</CFMemory>
    <CFInstancesNumber>1</CFInstancesNumber>
    <CFStack>win2012</CFStack>
    <CFRoutes>test.1.2.3.4.xip.io</CFRoutes>
    <CFServiceName>test</CFServiceName>
    <CFServicePlan>free</CFServicePlan>
    <CFServiceType>mysql</CFServiceType>

    <CFConfigurationFile>C:\test\manifest.yaml</CFConfigurationFile>

    <CFAppName>test</CFAppName>
    <CFSpace>testSpace</CFSpace>
    <CFLocalBuild>true</CFLocalBuild>

    <DeployTargetFile>C:\Path_to_targets_file_from_package</DeployTargetFile>
    <WebPublishMethod>CloudFoundry</WebPublishMethod>
    <CFMSBuildConfiguration>Debug</CFMSBuildConfiguration>
    <CFMSBuildPlatform>AnyCPU</CFMSBuildPlatform>

  </PropertyGroup>
</Project>