<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CFUser>admin</CFUser>
    <CFPassword>admin</CFPassword>
    <CFServerUri>http://api.1.2.3.4.xip.io</CFServerUri>

    <CFMemory>512</CFMemory>
    <CFInstancesNumber>1</CFInstancesNumber>
    <CFStack>win2012</CFStack>
    <CFRoutes>test.1.2.3.4.xip.io</CFRoutes>
    <CFServiceName>test</CFServiceName>
    <CFServicePlan>free</CFServicePlan>
    <CFServiceType>mysql</CFServiceType>

    <CFConfigurationFile>C:\test\manifest.yaml</CFConfigurationFile>

    <CFAppName>test</CFAppName>
    <CFSpace>testSpace</CFSpace>
    <CFLocalBuild>true</CFLocalBuild>

    <DeployTargetFile>C:\Users\Ada Sescu\Documents\Visual Studio 2013\Projects\WebApplication4\packages\cf-dotnet-sdk-msbuild-tasks.1.0.0.9\build\net45\cf-dotnet-sdk-msbuild-tasks.targets</DeployTargetFile>
    <WebPublishMethod>WebCloudFoundryPublish</WebPublishMethod>
    <Configuration>Debug</Configuration>
    <Platform>AnyCPU</Platform>

  </PropertyGroup>
</Project>