<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CloudFoundry.Build.Tasks.IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CloudFoundry.Build.Tasks.IntegrationTests.Properties.Settings>
      <setting name="LinuxStack" serializeAs="String">
        <value>cflinuxfs2</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>testapp{0}</value>
      </setting>
      <setting name="WindowsStack" serializeAs="String">
        <value>windows2012R2</value>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value>o</value>
      </setting>
      <setting name="Space" serializeAs="String">
        <value>s</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="ServerUri" serializeAs="String">
        <value>https://api.bosh-lite.com</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>bosh-lite.com</value>
      </setting>
    </CloudFoundry.Build.Tasks.IntegrationTests.Properties.Settings>
  </userSettings>
</configuration>