<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CloudFoundry.Build.Tasks.IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CloudFoundry.Build.Tasks.IntegrationTests.Properties.Settings>
      <setting name="LinuxStack" serializeAs="String">
        <value>lucid64</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>testapp{0}</value>
      </setting>
      <setting name="WindowsStack" serializeAs="String">
        <value>win2012r2</value>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value>org</value>
      </setting>
      <setting name="Space" serializeAs="String">
        <value>space</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>testUsername</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>testPassword</value>
      </setting>
      <setting name="ServerUri" serializeAs="String">
        <value>https://api.1.2.3.4.xip.io</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>1.2.3.4.xip.io</value>
      </setting>
    </CloudFoundry.Build.Tasks.IntegrationTests.Properties.Settings>
  </userSettings>
</configuration>