<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CloudFoundry.Build.Tasks.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudFoundry.Build.Tasks.Test.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="ServerUri" serializeAs="String">
                <value>http://api.15.126.213.170.xip.io</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="CFManifest" serializeAs="String">
                <value>Assets\testmanifest.yml</value>
            </setting>
        </CloudFoundry.Build.Tasks.Test.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.QualityTools.Testing.Fakes" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.0.0" newVersion="0.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>